@model List<Empleado>

@if (Context.User.IsInRole("PRESIDENTE") || Context.User.IsInRole("DIRECTOR"))
{
    <form method="post">
        <label>Incremento salarial</label>
        <input type="text" name="incremento" class="form-control" />
        <button class="btn btn-info">A subir salarios !!!!</button>
    </form>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Salario</th>
            <th>Departamento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Empleado empleado in Model)
        {
            <tr>
                <td>@empleado.IdEmpleado</td>
                <td>@empleado.Apellido</td>
                <td>@empleado.Oficio</td>
                <td>@empleado.Salario</td>
                <td>@empleado.IdDepartamento</td>
                <td>
                    <a asp-controller="Empleados" asp-action="Details" asp-route-id=@empleado.IdEmpleado>Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>